<%= simple_form_for([@user, @task], wrapper: :vertical_range) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <h1 class="text-center"><%= t('task.action.add') %></h1>
  <br>
  <div class="form-inputs d-flex flex-column">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :content, as: :text %>
    <%= f.input :assignments, collection: User.all.map { |u| [u.username, u.id] }, input_html: { multiple: true } %>
    <br>
    <h1><%= t('file.add') %></h1>
    <%= f.input :files, as: :file, label: false, input_html: { multiple: true, direct_upload: true } %>
    <h1><%= t('file.uploaded') %>:</h1>
    <% @task.files.each do |file| %>
      <%= link_to file.filename, file %>
    <% end %>
  </div>
  <div class="btn btn-primary d-flex justify-content-center mt-3">
    <%= f.button :submit, {class: "form-check"} %>
  </div>
<% end %>

