<h1>All Users</h1>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
          	<th></th>
            <th><%= t('user.table.username') %> </th>
            <th><%= t('user.table.role') %> </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <% if user == current_user %>
              <% next %>
            <% end %>
          <tr>
          	<td><% if user.profile_picture.attached? %>
                <image src="<%= url_for(@user.profile_picture) %>" alt="avatar"
                class="rounded-circle img-fluid" style="width: 25px;">
              <% else %>
                <image src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 25px;">
              <% end %>
            </td>
            <td><%= user.username %></td>
            <td><%= user.role %></td>
            <td>
              <%= link_to t('journal.action.show'), user_path(user), class: "btn btn-primary"%>

              <%= link_to t('journal.action.delete'), user_path(user), class: "btn btn-danger", data: {
                    turbo_method: :delete,
                    turbo_confirm: t('journal.message.confirm')
                  } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


