<%# frozen_string_literal: true %>
<%= simple_form_for(@user, wrapper: :vertical_range) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
  <%= f.input :username %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :country %>
  <%= f.collection_radio_buttons :role, 
  [['Admin', 0], ['Superuser', 1], ['User', 2]], 
  :second, :first %>
  <%= f.input :description %>
  <%= f.input :date_of_birth%>

  </div>

  <div class="btn btn-primary">
    <%= f.button :submit, {class: "form-check"} %>
  </div>

  <div>
  <% if @user.save %>
    <%= "#{h(@user.id)}' created sucessfully." %>
  <% end %>
</div>
<% end %>
