<%= simple_form_for(@user, wrapper: :vertical_range) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <h1 class="text-center"><%= t('login.new') %></h1>
  <br>
  <div class="form-inputs d-flex flex-column">
    <%= f.input :username %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="btn btn-primary d-flex justify-content-center mt-3">
    <%= f.button :submit, {class: "form-check"} %>
  </div>

  <h1 class="text-center pt-5"><%= t('login.old') %></h1>
  <br>
  <div >
    <%= link_to( t('user_session.action.add'), new_user_session_path, {class:"btn btn-primary d-flex justify-content-center mt-3"} )%><br> 
  </div>
<% end %>
