<div class="container mt-5 text-center">
  <h1><%= t('calendar.calendar')%></h1>
  <%= week_calendar(events: @entries) do |date, entries| %>
    <div class="day">
      <h2><%= date.day %></h2>
    </div>
    <div>
      <% entries_for_date = @entries.select { |entry| entry.start_time.to_date == date } %>
      <% if entries_for_date.any? %>
        <div class="calendar-entry">
          <div class="card">
            <h3><%= t('calendar.creations')%></h3>
            <% entries_for_date.each do |entry| %>
              <p><strong><%= entry.start_time.strftime("%H:%M") %></strong> - <%= entry.title %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div>
      <% entries_for_date = @entries.select { |entry| entry.end_time.to_date == date } %>
      <% if entries_for_date.any? %>
        <div class="calendar-entry">
          <div class="card">
            <h3><%= t('calendar.updates')%></h3>
            <% entries_for_date.each do |entry| %>
              <p><strong><%= entry.end_time.strftime("%H:%M") %></strong> - <%= entry.title %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
