<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th><%= link_to t('journal.table.title'), sort: :title %> </th>
            <th><%= link_to t('journal.table.description'), sort: :description %> </th>
            <th><%= link_to t('journal.table.updated_at'), sort: :updated_at %> </th>
            <th><%= link_to t('journal.table.id'), sort: :id %> </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @user.journals.each do |journal| %>
          <tr>
            <td><%= journal.title %></td>
            <td><%= journal.description %></td>
            <td><%= journal.created_at.to_formatted_s(:short) %></td>
            <td><%= journal.id %></td>
            <td>
              <%= link_to t('journal.action.show'), user_journal_path(@user, journal), class: "btn btn-primary"%>

              <%= link_to t('journal.action.delete'), user_journal_path(@user, journal), class: "btn btn-danger", data: {
                    turbo_method: :delete,
                    turbo_confirm: t('journal.message.confirm')
                  } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div>
  <div>
    <% if @journals.empty? %>
      <%= t('journal.message.no_journal') %>
    <% end %>
  </div>
  <a>
    <%= link_to(t('journal.action.add'), new_user_journal_path(@user),
            {class:"btn btn-primary"})%> 
  </a>
</div
