<%= simple_form_for([@user, @journal], wrapper: :vertical_range) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div>
  <%= f.input :title%>
  <%= f.input :description %>
  </div>
  <div>
    <h1><%= t('file.add') %></h1>
    <%= f.input :files, as: :file, label: false, input_html: { multiple: true, direct_upload: true } %>
  </div>

  <div class="btn btn-primary">
    <%= f.button :submit, {class: "form-check"} %>
  </div>
<% end %>
