<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/template_pdf.css">
</head>
<body>
  <style type="text/css">
    @import "./colors";
    .template-title {
      text-align: center;
      background-color: #3498db;
      padding: 1rem;
      color: #fff;
    }

    h1{
      font-family: 'Arial', sans-serif;
      font-size: 24px;
    }

    .template-description {
      padding: 1rem;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 1.4;
    }
  </style>
  <div class="template-title">
    <h1 class="title"><%= @journal.title %></h1>
  </div>
  <div class="template-description">
    <p>
      <%= @journal.description %>
    </p>
  </div>
  <div>
    <% @journal.journal_entries.each do |entry| %>
      <li class="table-row clickable-row" data-href="<%= user_journal_journal_entry_path(@user, @journal, entry) %>">
        <div class="id"><%= entry.id %></div>
        <div class="row-title"><%= entry.title %></div>
        <div><%= entry.updated_at.to_formatted_s(:short) %></div>
        <div><%= entry.created_at.to_formatted_s(:short) %></div>
      </li>
    <% end %>
  </div>

</body>
</html>
