<div class="main">
  <div class="main-content">
    <div class="main-header">
      <div class="header-image">
        <div>
        </div>
      </div>
      <div class="header-information">
        <div class="type">
          Journal
        </div>
        <div class="title">
          <%= @journal.title %>
        </div>
          <a href="<%= user_path(@user) %>" class="card-link">
            <div class="author">
              <div class="author-icon">
                <% if @user.profile_picture.attached? %>
                  <image src="<%= url_for(@user.profile_picture) %>" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 25px;">
                <% else %>
                  <image src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 25px;">
                <% end %>
              </div>
              <div class="author-name" style="margin: 0;">
                <%= @user.username %>
              </div>
            </div>
          </a>
      </div>
      <div class="header-actions">
        <div>
          <%= link_to new_user_journal_journal_entry_path(@user, @journal) do %>
            <img src="<%= asset_path('add_entry.svg') %>" class="magnetic" alt="Add Entry" style="width: 25px; height: 25px;"></img>
          <% end %>
        </div>
        <div>
          <%= link_to user_journal_path(@user, @journal) do %>
            <img src="<%= asset_path('edit.svg') %>" alt="Edit Journal" class="magnetic" style="width: 25px; height: 25px;"></img>
          <% end %>
        </div>
      </div>
    </div>
    <div class="content">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="id">#</div>
          <div class="row-title">Title</div>
          <div>Updated</div>
          <div>Created</div>
        </li>
        <hr>
        <% @journal.journal_entries.each do |entry| %>
          <li class="table-row clickable-row" data-href="<%= user_journal_journal_entry_path(@user, @journal, entry) %>">
            <div class="id"><%= entry.id %></div>
            <div class="row-title"><%= entry.title %></div>
            <div><%= entry.updated_at.to_formatted_s(:short) %></div>
            <div><%= entry.created_at.to_formatted_s(:short) %></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="main-information">
    <div class="information-description">
      <div class="item-title">
        <h3>Description</h3>
      </div>
      <div class="description-content">
        <hr style="margin:2%;">
        <p>
          <%= @journal.description %>
        </p>
      </div>
    </div>
    <div class="information-files-attached">
      <div class="item-title">
        <h3>Files Attached</h3>
      </div>
      <hr style="margin:2%;">
      <div class="files-items">
        <% @journal.files.each do |file| %>
          <div class="file">
            <div>
              <img src="<%= asset_path('image.svg') %>" alt="Edit Entry" style="width: 25px; height: 25px;"></img>
            </div>
            <a>
              <%= link_to file.filename, file %>
            </a>
          </div>
        <% end %>
      </div>
    </div>
    <div class="information-actions">
      <div>
        <img src="<%= asset_path('share.svg') %>" alt="Share Journal" class="magnetic" style="width: 25px; height: 25px;"></img>
      </div>
      <div>
        <img src="<%= asset_path('attach.svg') %>" alt="Edit Entry" class="magnetic" style="width: 25px; height: 25px;"></img>
      </div>
      <div>
        <input type="file" id="fileInput" style="display: none;">
        <img id="imageTrigger" src="<%= asset_path('attach.svg') %>" alt="Click to Upload" style="cursor: pointer;">
      </div>
    </div>
  </div>
</div>

