<div class="main">
  <div class="main-content">
    <div class="main-header">
      <div class="header-image">
        <div>
        </div>
      </div>
      <div class="header-information">
        <div class="type">
          Journal
        </div>
        <div class="title">
          <%= @journal.title %>
        </div>
          <a href="<%= user_path(@user) %>" class="card-link">
            <div class="author">
              <div class="author-icon">
                <% if @user.profile_picture.attached? %>
                  <image src="<%= url_for(@user.profile_picture) %>" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 25px;">
                <% else %>
                  <image src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 25px;">
                <% end %>
              </div>
              <div class="author-name" style="margin: 0;">
                <%= @user.username %>
              </div>
            </div>
          </a>
      </div>
      <div class="header-actions">
        <img src="./../../assets/icons/add_entry.svg" alt="Add Entry"
              class="rounded-circle img-fluid" style="width: 25px;"></img>
        <svg src="./../../assets/icons/edit.svg" alt="Edit" style="width: 25px;"></svg>
      </div>
    </div>
    <div class="content">
      <table>
        <thead>
          <tr>
            <th><%= link_to t('entry.table.id'), sort: :id %> </th>
            <th><%= link_to t('entry.table.title'), sort: :title %> </th>
            <th><%= link_to t('entry.table.content'), sort: :content %> </th>
            <th><%= link_to t('entry.table.updated_at'), sort: :updated_at %> </th>
          </tr>
        </thead>
        <tbody>
          <% @journal.journal_entries.each do |entry| %>
          <a href="<%= user_journal_journal_entry_path(@journal,entry) %>" class="card-link">
            <tr>
              <td><%= entry.id %></td>
              <td><%= entry.title %></td>
              <td><%= entry.content %></td>
              <td><%= entry.created_at.to_formatted_s(:short) %></td>
            </tr>
          </a>
          <% end %>
        </tbody>
      </table>
      <div>
        <%= link_to(t('entry.action.add'), new_user_journal_journal_entry_path(@user, @journal),
        {class:"btn btn-primary"})%>
      </div>
    </div>
  </div>
  <div class="main-information">
    <div class="information-description">
      <div class="description-title"></div>
      <div class="description-content"></div>
    </div>
    <div class="information-files-attached"></div>
      <div class="files-title"></div>
      <div class="files-items"></div>
  </div>
</div>
