<div class= "mt-30">  
  <h1 style="text-align: center"><%= @journal.title %></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th><%= link_to t('entry.table.title'), sort: :title %> </th>
            <th><%= link_to t('entry.table.updated_at'), sort: :updated_at %> </th>
            <th><%= link_to t('entry.table.created_at'), sort: :created_at %> </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @journal.journal_entries.each do |entry| %>
          <tr>
            <td><%= entry.id %></td>
            <td><%= entry.title %></td>
            <td><%= entry.updated_at.to_formatted_s(:short) %></td>
            <td><%= entry.created_at.to_formatted_s(:short) %></td>
            <td>
            <%= link_to t('entry.action.show'), user_journal_journal_entry_path(@user,@journal,entry), class: "btn btn-primary"%>

            <%= link_to t('entry.action.delete'), user_journal_journal_entry_path(@user,@journal,entry), class: "btn btn-danger", data: {
                turbo_method: :delete,
                turbo_confirm: t('entry.message.confirm')
            } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div>
  <div>
    <% if @journal.journal_entries.empty? %>
      <%= t('entry.message.no_entry') %>
    <% end %>
  </div>
  <a>
    <%= link_to(t('entry.action.add'), new_user_journal_journal_entry_path(@user, @journal),
            {class:"btn btn-primary"})%> 
  </a>
</div>
