<h1 class="text-center">Login page</h1>
<%= form_with model: @user, url: user_sessions_path do |f| %>
<div class="form-inputs d-flex flex-column">
  <div>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <p>
    <%= f.submit 'Login', {class:"btn btn-primary d-flex justify-content-center mt-3"}%>
  </p>
</div>
<% end %>
