<div class="header-actions">
	<div>
    <%= link_to user_path(current_user) do %>
      <img src="<%= asset_path('account.svg') %>" class="magnetic" alt="Add Entry" style="width: 35px; height: 35px;"></img>
    <% end %>
  </div>
  <div>
    <%= link_to users_path do %>
      <img src="<%= asset_path('friends.svg') %>" class="magnetic" alt="All Friends" style="width: 35px; height: 35px;"></img>
    <% end %>
  </div>
  <div>
	  <%= link_to users_path do %>
	    <img src="<%= asset_path('add_friend.svg') %>" class="magnetic" alt="Add Friend" style="width: 35px; height: 35px;"></img>
	  <% end %>
	</div>
	<div id="search-options">
    <%= render 'search/journalSearch' %>
	</div>
</div>
<div class="messages">
  <% flash.each do |type, message| %>
    <div class="message-<%= type %> text-center">
      <p><%= message %></p>
    </div>
  <% end %>
</div>
