<div class="header-actions">
	<div>
    <%= link_to user_path(current_user) do %>
      <img src="<%= asset_path('account.svg') %>" class="magnetic h-img" alt="Add Entry"></img>
    <% end %>
  </div>
  <div>
    <%= link_to users_path do %>
      <img src="<%= asset_path('friends.svg') %>" class="magnetic h-img" alt="All Friends"></img>
    <% end %>
  </div>
  <div>
	  <%= link_to users_path do %>
	    <img src="<%= asset_path('add_friend.svg') %>" class="magnetic h-img" alt="Add Friend"></img>
	  <% end %>
	</div>
  <div id="search-options">
    <%= link_to search_path do %>
      <img src="<%= asset_path('vector.svg') %>" class="magnetic h-img" alt="Add Friend"></img>
    <% end %>
  </div>
</div>
<div class="messages">
  <% flash.each do |type, message| %>
    <div class="message-<%= type %> text-center">
      <p><%= message %></p>
    </div>
  <% end %>
</div>
