<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <span class="fs-4"><%= t('sidebar.journey') %></span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
    	<%= link_to( t('sidebar.journals'), user_journals_path(current_user), {class:"nav-link link-dark"} )%><br> 
    </li>
    <li>
      <%= link_to( t('sidebar.new_user'), new_user_path, {class:"nav-link link-dark"} )%><br> 
    </li>
    <li>
  		<%= link_to( t('sidebar.profile'), user_path(current_user), {class:"nav-link link-dark"} )%><br> 
    </li>
    <% if current_user.admin? %>
      <li>
        <%= link_to( t('users.all_users'), users_path, {class:"nav-link link-dark"} )%><br>
      </li>
    <% end %>
  </ul>
  <hr>
</div>
